<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Cursos
    </a>
  </div>
</nav>

<div class="container" style="margin-top: 1.5rem;">
  <tabset [justified]="true">
    <tab *ngFor="let arr of jaggedArray">

      <ng-template tabHeading>
        <span class="fw-semibold">
          {{arr.cursoName}}
        </span>
      </ng-template>

      <div class="list-group list-group-flush shadow">
        <div *ngFor="let item of arr.videos">
          <a href="{{item.url}}" class="list-group-item list-group-item-action custom-active border border-top-0" style="display: flex; justify-content: space-between;">
            {{item.name}} <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>

      <div class="list-group list-group-flush shadow">
        <div (click)="downloadText(arr)" >


            <a class="list-group-item list-group-item-action custom-active border border-top-0 list-group-item-primary fw-semibold" style="display: flex; justify-content: space-between;">
              DESCARGAR {{arr.cursoName | uppercase}}.TXT<i class="fa-solid fa-circle-down"></i>
            </a>


        </div>
      </div>

    </tab>

  </tabset>
</div>

